.proposals-container {
    background-color: #ffffff;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
    background-color: #525252;
    overflow-x: hidden;
    word-wrap: break-word; /* Ensures text wraps to the next line */
    white-space: normal;
  }
  
.proposals-image {
    width: 80%;
    height: 150px;
    object-fit: contain;
    border-radius: 8px 8px 0 0;
  }
  .proposals-container h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff6e1;
    margin-bottom: 16px;
  }
  
  .proposals-list {
    list-style-type: none;
    padding: 0px;
  }
  
  .proposal-item {
    border: 1px solid #ddd;
    padding: 16px;
    border-radius: 6px;
    margin-bottom: 12px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    background-color: #f9f9f9;
  }
  
  .proposal-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .proposal-item p {
    
    font-size: medium;
    margin: 6px 0;
    color: #444;
  }
  
  .proposal-item strong {
    color: #222;
  }
  
  .no-proposals {
    color: #777;
    font-style: italic;
    padding: 12px;
  }
  /* Mobile responsiveness */
  @media (max-width: 600px) {
    .proposals-container {
      padding: 30px;
      margin-left: 70px;
      width: 40%; /* Adjusted for better mobile responsiveness */
      overflow-x: hidden;
      word-wrap: break-word; /* Ensures text wraps to the next line */
      white-space: normal; /* Allows text to break onto new lines */
    }
    .proposals-image {
        max-height: 150px;
      }
    .proposals-container h2 {
      font-size: 2.25rem;
    }
  
    .proposal-item {
      padding: 12px;
      word-wrap: break-word; /* Ensures content inside proposal items wraps properly */
      overflow-wrap: break-word;
    }
  }
  